html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'vazirmatn';
    min-height: 100vh;
    width:100%;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background: linear-gradient(to right, #171717 0%, #3d3b3b 100%);
    animation: bodyanimation 2s forwards;
    overflow-x: hidden;
}
@keyframes bodyanimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


*::selection{
    background-color: aqua;
    color:black;
}

header {
    background-color: coral;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:100px;
    border-bottom: 5px dashed #171717;

}
.nav {
    width:150px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    color:#000000

}

main {
    background-color:white;
    margin:120px 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;
    padding:20px;
    border:5px solid coral;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#one {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    margin:300px 20px 180px 20px;
    gap:100px;
}

.media {
    width:100px;
    height:100px;
    border:7px solid #000000;
    object-fit: cover;
    border-radius: 50%;
    transition: all 1s ease;
}


#padkast {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

#media {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

.space {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:white;
    margin:40px auto;
}

#lego {
    width:85px;
    height:85px;
    object-fit: cover;
    border-radius: 50%;
    border:2px solid #171717;
    animation: lego_animation 3s infinite;
    will-change: transform;
}

footer {
    background-color: coral;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-top: 5px dashed #171717;
}

.phone {
    position:fixed;
    left:20px;
    bottom:20px;
    background-color: whitesmoke;
    border-radius: 50%;
    width:80px;
    height:80px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    color:rgb(236, 59, 5);
    box-shadow: 5px 5px 40px coral;
    border:4px solid #171717;
    transition: all 2s ease-in-out;
}

.email{
    position:fixed;
    left:20px;
    bottom:20px;
    background-color: whitesmoke;
    border-radius: 50%;
    width:80px;
    height:80px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    color:rgb(236, 59, 5);
    box-shadow: 5px 5px 40px coral;
    border:4px solid #171717;
    transition: all 2s ease-in-out;
}

#copy {
    opacity: 0;
    background-color: #04e11e;
    border-radius: 10px;
    width:10%;
    height:5%;
    font-size: 15px;
    position:fixed;
    bottom:1px;
    left:46%;
    text-align: center;
    line-height: 50px;
    box-shadow: 5px 5px 50px #04e11e;
    transition: all 1s ease-out;
}

.copy-show {
    opacity: 1 !important;
    transform: translateY(-100px);
}

.hide {
    opacity: 0;
    transform: translateX(-250px);
    pointer-events: none;
}


#two {
    height:400px;
    display:flex;
    justify-content: space-around;
    margin: 40px;
}

.sponsor-img{
    width:100%;
    height:200px;
    object-fit: cover;
    border-bottom: 5px solid #171717;
}

.sponsor {
    width:250px;
    height:400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    border: 5px solid coral;
    transition: all 0.2s ease-in;
}


#word {
    display: flex;
    flex-direction: row;
}
.text {
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100px;
    text-decoration: none;
    font-size: 25px;
}
.active{
    border-radius: 20px;
    color:white;
    background-color: coral;
   
}
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(192, 62, 15);
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color:white
}

.atext {
    opacity: 0;
    font-size: 30px;
    margin:10px;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.show {
    opacity: 1;
    transform: translateX(16px);
    animation: opacity 2s infinite;
}

.dot{
    width:10px;
    height:10px;
    background-color: #3d3b3bc3;
    border-radius: 50%;
    bottom: 0;
    position: fixed;
    animation: dot 8s linear infinite;
    z-index: -1;
}

.offline-show {
    background-color: rgba(255, 0, 0, 0.671);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position:fixed;
    left:42%;
    top:90%;
    height:200px;
    width:300px;
    color:white;
    box-shadow: 5px 6px 70px rgba(255, 0, 0, 0.67);
    border-radius: 20px;
    animation: offline-show 4s ease;
}

#bot-message{
    width:320px;
    height:100px;
    display: flex;
    position: fixed;
    top:90px;
    gap:20px;
    transform: translateX(500px);
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 5px solid rgb(0, 208, 255);
    font-size: 14px;
    box-shadow: 5px 5px 40px rgb(0, 208, 255);
}

.bot-animation {
    animation: bot-message 5s ease-in-out;
}

.bot {
    width:80px;
    height:80px;
    border-radius: 50%;
    object-fit: cover;
    animation: bot 2s ease infinite;
}

h1 {
    font-size: 25px;
}

@keyframes bot {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes bot-message {
    0% {
        transform: translateX(500px);
    }
    30% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(500px);
    }
}


@keyframes offline-show {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-200px);
    }
}
@keyframes dot {
    0% {
        transform:translateY(var(--height));
    }
    100% {
        transform:translateY(-2000px);
    }
}

@keyframes opacity {
    0% {
        transform: translateX(30px);
    }
    100% {
        transform: translate(0px);
    }
}
@media screen and (max-width:500px) {
    main{
        font-size: 18px;
    }
    .text {
        width:75px;
        font-size: 15px;
    }
    .media {
        width:80px;
        height: 80px;
    }
    .atext {
        font-size:20px;
    }
    .space {
        font-size:22px
    }
    .nav {
        width:80px;
        height:50px;
        left:120px;
    }
    #padkast {
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    #one {
        margin:300px 20px 180px 20px;
        gap:40px;
    }
    .phone{
        width:70px;
        height:70px;
        font-size: 33px;
    }
    .email{
        width:70px;
        height:70px;
        font-size: 33px;
    }
    #two {
        height:400px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:40px;
        height:1000px;
        margin:100px 0px;
    }
    .sponsor {
        width:250px;
        height:400px;
    }
    .sponsor-img{
        height:200px;
    }
    .offline-show {
        left: 12%;
    }
    #bot-message {
        width:250px;
        font-size: 12px;
    }
    .bot {
        width:60px;
        height:60px;
    }
    h1{
        font-size: 15;
    }
}

@media (hover: hover) {
    .nav:hover {
        background-color: white;
        cursor: pointer;
        box-shadow: 5px 5px 50px white;
    }

    .media:hover {
        box-shadow: 5px 5px 70px coral;
        transform: rotate(360deg);
    }
    .sponsor:hover {
        box-shadow: 5px 5px 70px coral;
        transform: scale(1.1);
    }
}

main:hover {
        box-shadow: 5px 5px 50px coral;
    }
.sponsor:hover {
        box-shadow: 5px 5px 70px coral;
}